.gameOption {
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  
}

.isWinner{
  border: 2px solid #00eeff;
}

.isWinnerX {
  border: 2px solid rgb(243, 11, 11);
}

.draw {
  border: 2px solid #ebfc00;
}