.score {
 margin-top: 20px;
  display: flex;
  gap: 30px;
}

.scoreContent {
 display: flex;
 flex-direction: column;
 align-items: center;

}

.scoreDraw {
  color: rgb(241, 241, 41);
}

.scoreButton {
  margin-top: 20px;
  cursor: pointer;
}

.scoreButton:disabled {
  cursor: default;
  background-color: #61aeff;

}
